table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.error {
    color: red
}

div.table 
{
    display:table;
}
form.tr, div.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
}